@{
    ViewBag.Title = "Контакти";
}

<div class="row mt-5">
    <div class="col">
        <img src="https://i.pinimg.com/originals/c2/e9/cc/c2e9cc1da429b1af111d6ad752aaaf74.gif" />
    </div>
    <div class="col">
        <p><b>За връзка с нас:</b></p>
        <p></p>
        <p><b>Имейл:</b> info@sunnyfarm.bg</p>
        <p></p>
        <p><b>Телефон:</b> 0888 68 58 93</p>
    </div>
</div>
