@{
    ViewBag.Title = "За нас";
}

<div class="row mt-5">
    <div class="col">
        <img src="https://www.almanac.com/sites/default/files/styles/primary_image_in_article/public/image_nodes/beehive-3703434_1920.jpg?itok=rrfAVu_1"/>
    </div>
    <div class="col">
        <p>
            Ние сме малка семейна ферма с дългогодишни традиции в пчеларството. Предлагаме сертифициран за био произход мед, като мисията ни е да опитате най-чистия и безкомпромисно качествен домашен продукт. Грижим се за 300 пчелни семейства, разположени в Природен парк "Русенски лом", в село Червен, далеч от урбанизирани територии, където произвеждаме нашия вкусен пчелен мед. Пчелите имат източници на нектар и прашец от различна растителност - липа, акация, рапица, слънчоглед, магарешки бодил, дива мента и други, които допринасят за неповторимия вкус на нашите продукти. Постарахме се да Ви предложим богато разнообразие от различните видове пчелен мед произведeн в България. Дългите години опит, широките познания и любов  към пчелите правят нашите продукти несравними и гарантират наи-доброто качество.
        </p>
    </div>
</div>
